PORT=8000
JWT_SECRET=secret
NODE_ENV=development
APP_NAME=translation-middleware

MAIL_USER=
MAIL_PASSWORD=


IMAP_TLS=true
IMAP_HOST=outlook.office365.com
IMAP_PORT=993
ALLOW_DOMAINS=gmail.com,migramer.com

SMTP_HOST=smtp.office365.com
SMTP_PORT=587

MONGO_URI=mongodb://root:root@192.168.1.52:27017

TRANSLATION_API_URL=http://engine:8000/api/translation

REPORT_ERROR=false

AUTH_TYPE=oauth2
# AUTH_TYPE=basic
OFFICE365_CLIENT_ID=
OFFICE365_TENANT_ID=
OFFICE365_CLIENT_SECRET=